<!DOCTYPE html>
<html>
<head>
  <title>Www</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    // $(window).load(function() {
    //   $('.flexslider').flexslider();
    // });
    $(document).ready(function() {
        $('.bxslider').bxSlider({
            pagerCustom: '#bx-pager',
            responsive: false,
            // onResize: function(viewportWidth, viewportHeight) {
            //     console.log('viewPort was resized', arguments);
            //     var pager = $('#bx-pager');
            //     // we don't want to constrain the height
            //     var oldWidth = pager.width();
            //     var newWidth = Math.round(
            //         oldWidth * viewportHeight / pager.height());
            //     var right = parseInt(pager.css('right'), 10);
            //     var parentWidth = pager.parent().width();
            //     var right = parentWidth - viewportWidth - newWidth + 8;
            //     pager.css({
            //         width: newWidth,
            //         right: right
            //     });
            }
        });
    });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<div class="container">
    <div class=" four columns" id="logo">
        <%= link_to 'River Valley Inn', root_url %>
    </div>
    <div class="twelve columns">
        <ul id="lang">
            <li>En</li>
            <li><a href="#">Fr</a></li>
            <li><a href="#">Es</a></li>
        </ul>
        <div id="wxWrap">
            <span id="wxIntro">Currently in Needles</span>
            <span id="wxIcon2"></span><span id="wxTemp"></span>
        </div><!-- weather -->
    </div>
    <!-- start main nav -->
    <div class="twelve columns">
        <nav>
        <ul id="main-nav" class="sf-menu">
            <li><a href="#">Home</a>
            <ul>
                <li><a href="index.html">Home slider</a></li>
                <li><a href="index_2.html">Home fullscreen</a></li>
            </ul>
            </li>
            <li><a href="rooms.html">Rooms</a></li>
            <li><a href="#">Pages</a>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="fullscreen_gallery.html">Fullscreen gallery</a></li>
                <li><a href="gallery_columns.html">Gallery grids</a></li>
                <li><a href="rooms_2.html">Rooms 2</a></li>
            </ul>
            </li>
            <li><a href="contacts.html">Contact us</a></li>
            <li><a href="#">Purchase</a></li>
        </ul>
        </nav><!-- end main nav -->
    </div><!-- end twelve -->
</div><!-- end container -->
</header><!-- end header-->


<%= yield %>


<footer>
    <div class="container">
        <nav class="eleven columns">
        <ul id="nav-footer">
            <li><a href="rooms.html">Rooms</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="rooms.html">Book now</a></li>
            <li><a href="fullscreen_gallery.html">Gallery</a></li>
            <li><a href="contacts.html">Contacts </a></li>
        </ul>
        </nav>
    <div class="five columns copy">© 2012-2014 River Valley Inn. All Rights Reserved.</div>
    </div>
</footer><!-- footer  -->

</body>
</html>
